@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";
@import "swiper/css";

@font-face {
  font-family: "Helvetica";
  src: url("@/assets/fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-noto: "Noto Sans", sans-serif;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes move-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes frame-swap-A {
  0%,
  49.9% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

@keyframes frame-swap-B {
  0%,
  49.9% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

.animate-frame-swap-A {
  animation: frame-swap-A 0.4s linear infinite;
}
.animate-frame-swap-B {
  animation: frame-swap-B 0.4s linear infinite;
}

.animate-move-left {
  animation: move-left 30s linear infinite;
}

@keyframes expand {
  0% {
    flex-grow: 1;
  }
  50% {
    flex-grow: 3;
  }
  100% {
    flex-grow: 1;
  }
}

.animate-expand {
  animation: expand 1s ease-in-out infinite;
}

@layer components {
  .hl-list {
    @apply w-full list-none p-0 m-0 min-h-[300px];
  }

  .hl-item {
    @apply flex items-center justify-between px-4 py-2.5 border-black text-black flex-nowrap;
  }
  .hl-item:hover {
    @apply text-white;
  }

  .hl-title {
    @apply text-3xl font-[500] md:text-5xl font-noto;
  }

  .hl-subtitle {
    @apply text-xl font-medium font-noto;
  }

  .hl-number {
    @apply font-noto text-3xl md:text-5xl;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollReverse {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll-slow {
  animation: scroll var(--duration) linear infinite;
}
.animate-scroll-medium {
  animation: scroll var(--duration) linear infinite;
}
.animate-scroll-fast {
  animation: scroll var(--duration) linear infinite;
}

.animate-scroll-reverse-slow {
  animation: scrollReverse var(--duration) linear infinite;
}
.animate-scroll-reverse-medium {
  animation: scrollReverse var(--duration) linear infinite;
}
.animate-scroll-reverse-fast {
  animation: scrollReverse var(--duration) linear infinite;
}
